.counters{
  font-family: 'PT Sans', sans-serif;
  .panelsCounters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto 5vh ;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    @media(min-width: 1024px){
      flex-direction: row;
    }
    &__panel{
      width: 80vw;
      height: 20vh;
      background-color: rgba(247, 252, 255, 0.575);
      // box-shadow: 0 0 3px 1px grey;
      border: 1px solid rgb(29, 35, 53);
      margin: 3vh auto;
      padding: 0 2vh 2vh;
      -webkit-padding-after: 7vh;
      @media(min-width: 720px){
        width: 50vw;
      }
      @media(min-width: 1024px){
        width: 30vw;
        margin: 3vh;
      }
     }
  }
  &__form{
    background-color: rgba(63, 70, 94, 0.884);
    padding: 2vh 1vw;
    color: white;

  &__input{
    color: #fff;
    font-size: 1.5rem;
    width: 30%;
    max-width:250px;
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    text-align: center;
    margin-bottom: 1vh;
    &:focus{
      border-color: white;
    }
  }
  &__button{
     margin: 2vh 0 2vh 4vh;
    color: white;
    width: 30vw;
    max-width:250px;
    height: 6vh;
    min-height: 45px;
    font-size: 1.2rem;
    border: 2px solid white;
    border-radius: 7px;
    background-color: rgba(54, 54, 54, 0.945);
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    opacity: 0.6;
    &:hover{
      opacity: 1;
    }
  }
}
}