@import url('https://fonts.googleapis.com/css?family=Blinker|Noto+Sans|Open+Sans|PT+Sans&display=swap');
.App {
  text-align: center;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-content: center;
  // height: 100vh;
  background-image: url(../img/floor-tile.png);
 background-attachment: fixed;
}

@import 'Panels';
@import 'FormSaving';
@import 'Counters';
@import 'Footer';
@import 'Popup';

.footer{
  font-size: 1rem;
  font-family: 'PT Sans', sans-serif;
}


// font-family: 'Blinker', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'PT Sans', sans-serif;

